# Python
*.py[cod]
*.pyo
*.pyd
__pycache__
*.so
*.egg
*.egg-info
dist
build
*.tar.gz

# Test
.tox
*.coverage
.coverage.*
.pytest_cache
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/

# VS Code
.vscode/

# Build and output
examples/build/
examples/output/
